/* Estilos para la sección de experiencias */
.experiencias {
    display: flex;
    justify-content: center;  /*centra el contenido*/
    padding: 2rem; /*espacio interno*/
    color: azure;  /*color de la fuente*/
}
/*contenedor general que engloba las experiencias*/
.container-experiencias {
    width: 100%; /*ancho del contenedor*/
    padding: 2rem; /*espacio interno*/
    margin-top: 1rem; /*margen superior*/
    line-height: 2rem; /*espacio entre los parrafos*/
    font-size: large; /*tamaño de la fuente*/
    margin: 5rem; /*margen superior e inferior*/    
}

/* Responsive design */

/* Media Queries agrupadas */

/* Estilos para pantallas pequeñas, celular de 768px o menos */
@media (max-width: 768px) {
    .experiencias {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        padding: 1rem; /* Espacio interno reducido */
        margin-top: 1rem; /* Margen superior reducido */
        font-size: small; /* Tamaño de la fuente más pequeño */
    }

    .container-experiencias {
        width: 100%; /* Ancho del contenedor */
        margin-top: 0rem; /* Margen superior reducido */
    }
}

/* Estilos para pantallas medianas, tablet de 768px a 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .experiencias {
        width: 75%; /* Ancho del contenedor */
    }

    .container-experiencias {
        font-size: 1.2rem; /* Ajuste del tamaño de la fuente */
    }
   
}

/* Estilos para pantallas grandes, desktop de 1024px o más */
@media (min-width: 1024px) {
    .experiencias {
        width: 75%; /* Ancho del contenedor */
        padding: 2rem; /* Espacio interno adecuado */
    }

    .container-experiencias {
        font-size: 1.3rem; /* Tamaño de fuente más grande */
    }
    
}