/*seccion de sobremi*/
.sobremi {
    display: flex;
    justify-content: center; /*centra el contenido*/
}

.container-sobremi {
    display: flex;
    width: 50%; /*ancho del contenedor*/
    padding: 2rem; /*espacio interno*/
    margin-top: 5rem; /*margen superior*/
    line-height: 2.5rem; /*espacio entre los parrafos*/
    font-size: large; /*tamaño de la fuente*/
    color: azure; /*color de la fuente*/
    gap: 2rem; /*espacio entre los elementos*/
    align-items: center; /*alinea los elementos al centro*/
    
}

.img-perfil {
    border-radius: 50%;/*bordes redondeados*/
    max-width: 120px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor de la imagen */
}

/* Responsive design */

/* Media Queries agrupadas */

/* Estilos para pantallas pequeñas, celular de 768px o menos */
@media (max-width: 768px) {
    .container-sobremi {
        width: 100%; /* Ancho del contenedor completo */
        padding: 1rem; /* Espacio interno reducido */
        margin-top: 1rem; /* Margen superior reducido */
        line-height: 2.5rem; /* Espacio entre los párrafos */
        font-size: small; /* Tamaño de la fuente reducido */
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
      
    }

    .img-perfil {
        max-width: 100px; /* Tamaño de la imagen más pequeño */
    }
}

/* Estilos para pantallas medianas, tablet de 768px a 1024px */
@media (min-width: 768px) and (max-width: 1023px) {
    .container-sobremi {
        width: 75%; /* Ancho del contenedor */
    }

    .img-perfil {
        max-width: 110px; /* Tamaño de la imagen ajustado */
    }
}

/* Estilos para pantallas grandes, desktop de 1024px o más */
@media (min-width: 1024px) {
    .container-sobremi {
        width: 50%; /* Ancho del contenedor */
    }

    .img-perfil {
        max-width: 120px; /* Tamaño de la imagen ajustado */
    }
}